body {
  background-color: rgb(204, 204, 204);
}

a {
  text-decoration: none;
  color: inherit;
}

.auth-box {
  background-color: rgb(194, 235, 250);
  border: 1px solid black;
  box-shadow: 3px 3px 3px rgb(158, 156, 156);
}

.auth-buttons button {
  margin-left: 10px;
}